.git
.vscode
.gitignore
node_modules
client/node_modules
server/node_modules
server/uploads
server/data
server/logs
**/*.log
*.swp
*.tmp
*.DS_Store
coverage
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.log

